.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

p {
  color: gray;
  font-size: 12px;
}

i, img, p, h5 {
  cursor: pointer;
}

.header.d-flex.justify-content-between.bg-light {
  height: 50px;
}

.container.pt-3.bg-light {
  width: 487px;
}

img.rounded.mx-auto.d-block {
  width: 60px;
  height: 62px;
}